<template>
  <div v-if="validator === 'required'" class="invalid-feedback">
    {{ translate("validate.requiredInput", title, params) }}
  </div>
  <div v-if="validator === 'required1orAll'" class="invalid-feedback">
    {{ translate("validate.required1orAll", title, params) }}
  </div>
  <div v-if="validator === 'requiredSelect'" class="invalid-feedback">
    {{ translate("validate.requiredSelect", title, params) }}
  </div>
  <div v-if="validator === 'maxLength' || validator === 'minLength'" class="invalid-feedback">
    {{ translate("validate.minMaxString", title, params) }}
  </div>
  <div v-if="validator === 'maxString'" class="invalid-feedback">
    {{ translate("validate.maxString", title, params) }}
  </div>
  <div v-if="validator === 'betweenValue'" class="invalid-feedback">
    {{ translate("validate.betweenValue", title, params) }}
  </div>
  <div v-if="validator === 'email'" class="invalid-feedback">
    {{ translate("validate.validateEmail", title, params) }}
  </div>
  <div v-if="validator === 'alphaNum'" class="invalid-feedback">
    {{ translate("validate.alphaNum", title, params) }}
  </div>
  <div v-if="validator === 'integer'" class="invalid-feedback">
    {{ translate("validate.integer", title, params) }}
  </div>
  <div v-if="validator === 'space'" class="invalid-feedback">
    {{ translate("validate.space", title, params) }}
  </div>
  <div v-if="validator === 'minValue'" class="invalid-feedback">
    {{ translate("validate.minValue", title, params) }}
  </div>
  <div v-if="validator === 'smallValue'" class="invalid-feedback">
    {{ translate("validate.smallValue", title, params) }}
  </div>
  <div v-if="validator === 'maxValue'" class="invalid-feedback">
    {{ translate("validate.maxValue", title, params) }}
  </div>
  <div v-if="validator === 'numeric'" class="invalid-feedback">
    {{ translate("validate.numeric", title, params) }}
  </div>
  <div v-if="validator === 'telephone'" class="invalid-feedback">
    {{ translate("validate.telephone", title, params) }}
  </div>
   <div v-if="validator === 'sameAsPassword'" class="invalid-feedback">
    {{ translate('validate.confirmPasswordNotMatch', title, params) }}
  </div>
   <div v-if="validator === 'notSameAsoldPassword'" class="invalid-feedback">
    {{ translate('validate.notSameAsoldPassword', title, params) }}
  </div>
  <div v-if="validator === '$each'" class="invalid-feedback">Hoàn thiện các thành phần</div>
  <div v-if="validator === 'minDate'" class="invalid-feedback">
    {{ translate("validate.minDate", title, params) }}
  </div>
</template>

<script lang="ts" setup>
import { translate } from "@/languages/i18n";
import { DEFAULT_MAX_LENGTH, DEFAULT_MIN_LENGTH } from "@/constants/index";

defineProps({
  title: String,
  params: {
    type: Array,
    default: () => [DEFAULT_MIN_LENGTH, DEFAULT_MAX_LENGTH],
  },
  validator: String,
});
</script>

<style lang="scss" scoped></style>
