<template>
  <button :disabled="disabled" type="button" :data-bs-toggle="dataBsToggle" :data-bs-target="dataBsTarget" @click="onClick" :class="[typeButton,'tw-h-[37px]', 'button-btn', disabled ? 'disabled' : '']">
    <slot></slot>
  </button>
</template>
<script setup lang="ts">
import { PropType } from "vue";
type typeButton = "delete" | "add" | "normal" | "save" | "premary" | "trash" | 'cancel' | 'addNew' | 'view';
defineProps({
  disabled: { type: Boolean, default: false },
  onClick: {
    type: Function as PropType<() => void | undefined>,
  },
  typeButton: {
    type: String as import("vue").PropType<typeButton>,
    default: "normal",
  },
  dataBsToggle: {
    type: String,
    default: "",
  },
  dataBsTarget: {
    type: String,
    default: "",
  },
});
</script>
<style scoped lang="scss">
.button-btn {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  color: $base-white;
  cursor: pointer;
  border: none;
  margin-right: 12px;
  &:last-child {
    margin-right: 0px;
  }
  span {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
  }
}
.add {
  background: $gradient-orange;
}
.normal {
  background: $base-white;
  color: $base-gray-500;
}
.delete {
  background: $base-gray-100;
  color: $base-gray-500;
  border: none;
}

.trash {
  background: $base-red-300;
  color: $base-white;
  border: none;
}
.save {
  background: $base-green-200;
}
.premary {
  background: $base-blue-100;
}
.disabled {
  color: $base-white;
  opacity: 0.8;
  cursor: not-allowed;
  pointer-events: none;
}
.cancel {
  background: $base-gray-100;
  color: $base-white;
  border: none;
}
.addNew {
  background: $base-white;
  color:$base-orange-300 ;
  border: 2px solid $base-orange-300;
}
.view {
  background: #1890FF;
  color: $base-white;
  border: none;
}
</style>
