<template>
  <div class="menu-dropdown tw-flex tw-justify-center tw-items-center tw-ml-[12px]">
    <div class="info-user">
      <div class="name-user">{{ user?.data?.fullName }}</div>
      <div class="role-user">{{ user?.data?.username }}</div>
    </div>
    <div class="user-avatar">
      <Avatar :class="'tw-cursor-pointer'" :isImage="user?.data?.avatar ? true:false" :user_image_url="avatar" @click="hanldeShow(!isShowDrop)" />
      <router-link class="noitification" to="/noitification">
        <IconImage :user_image_url="bell" size="small" />
        <div class="point">1</div>
      </router-link>
      <div v-if="isShowDrop"  v-click-outside="() => hanldeShow(false)" class="tw-bg-neutral-7 dropdown tw-pl-[0px] tw-pt-[6px]">
        <router-link @click=" hanldeShow(false)" class="tw-flex tw-items-center tw-w-full tw-h-[45px] tw-px-[16px] tw-text-neutral-1" to="/profile">
          <font-awesome-icon :icon="['fas', 'id-card']" />
          <div class="tw-ml-[8px]">Profile</div>
        </router-link>
        <router-link @click=" hanldeShow(false)" class="tw-flex tw-items-center tw-w-full tw-h-[45px] tw-px-[16px] tw-text-neutral-1" to="/change-password">
          <font-awesome-icon :icon="['fas', 'key']" />
          <div class="tw-ml-[8px]">Đổi mật khẩu</div>
        </router-link>
        <router-link @click=" hanldeShow(false)" class="tw-flex tw-items-center tw-w-full tw-h-[45px] tw-px-[16px] tw-text-neutral-1" to="/test/my-exam">
          <font-awesome-icon :icon="['fas', 'id-card']" />
          <div class="tw-ml-[8px]">Kỳ thi của tôi</div>
        </router-link>
        <router-link @click=" hanldeShow(false)" class="tw-flex tw-items-center tw-w-full tw-h-[45px] tw-px-[16px] tw-text-neutral-1" to="/test/my-scores">
          <font-awesome-icon :icon="['fas', 'id-card']" />
          <div class="tw-ml-[8px]">Bảng điểm</div>
        </router-link>
        <!-- <router-link @click=" hanldeShow(false)" class="tw-flex tw-items-center tw-w-full tw-h-[45px] tw-px-[16px] tw-text-neutral-1" to="/test/report/list">
          <font-awesome-icon :icon="['fas', 'id-card']" />
          <div class="tw-ml-[8px]">Danh mục báo cáo</div>
        </router-link> -->
        <router-link @click=" hanldeShow(false)" class="tw-flex tw-items-center tw-w-full tw-h-[45px] tw-px-[16px] tw-text-neutral-1" to="/Checklist">
          <font-awesome-icon :icon="['fas', 'list-check']" />
          <div class="tw-ml-[8px]">Checklist</div>
        </router-link>
        <button :onClick="logout" class="tw-flex tw-items-center tw-w-full tw-h-[45px] tw-px-[16px] tw-bg-primary-0 tw-text-neutral-7 ">
          <font-awesome-icon :icon="['fas', 'arrow-right-from-bracket']" />
          <div class="tw-ml-[8px]">Đăng xuất</div>
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import {ref, computed} from "vue";
import Avatar from "@/components/avatar/index.vue";
import IconImage from "@/components/iconImage/index.vue";
import bell from "@/assets/images/icon/bell.svg";
import { getUser } from "@/utils/index";
import { useRouter } from "vue-router";
import { toast } from "vue3-toastify";

const user = getUser();

const isShowDrop = ref<boolean>(false);

const router = useRouter();
const avatar = computed(()=>{
  if(user?.data?.avatar){
    return user?.data?.avatar;
  }else {
    return user?.data?.fullName[0];
  }
});

const logout = async () => {
  (Object.keys(window.localStorage) || []).forEach((key) => {
    window.localStorage.removeItem(key);
  });
  router.push({ path: "/login" });
  toast.success("Đăng xuất thành công!");
};

const hanldeShow = (value:boolean) => {
  isShowDrop.value = value;
};

</script>

<style scoped lang="scss">
.info-user {
  color: $base-gray-500;
  font-size: 16px;
  .name-user {
    font-weight: 600;
    max-width:175px;
    text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
  }
}
.user-avatar {
  margin-right: 20px;
  margin-left: 15px;
  position: relative;
  .dropdown {
    position: absolute;
    left: -170px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    width: 200px;
    border-radius: 2px;
  }
  .noitification {
    position: absolute;
    top: 26px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: $base-white;
    box-shadow: $shadow;
    .point {
      position: absolute;
      top: 20px;
      right: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $base-red-300;
      color: $base-white;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      font-size: 10px;
    }
  }
}
</style>
