<template>
  <div>
    <TabHeader :tabs="tabs" :default-alias="defaultAlias" :has-message="hasMessage" />
    <div><slot></slot></div>
  </div>
</template>

<script lang="ts" setup>
import { PropType } from "vue";
import TabHeader from "./tabHeader/index.vue";

export type Tab = {
  title: string;
  alias: string;
  percent: string;
};

defineProps({
  tabs: {
    type: Array as PropType<Array<Tab>>,
  },
  defaultAlias: String,
  hasMessage: Boolean,
});
</script>

<style lang="scss" scoped></style>
