<template>
  <div class="container tw-flex tw-justify-center tw-items-center flex-column">
    <h1 class="title my-3 my-lg-5">404 Not found</h1>
    <div class="mb-3">
      <p class="description">không tìm thấy trang</p>
    </div>
  </div>
</template>

<script setup lang="ts"></script>

<style scoped lang="scss">
.title {
  color: $base-green-800;
  font-size: 28px;
}
.description {
  padding-bottom: 20px;
  font-size: 16px;
}

.my-lg-5 {
  margin-top: 12rem !important;
  margin-bottom: 3rem !important;
}
</style>
