<template>
  <div class="form-check form-switch">
    <input
      @input="$emit('update:modelValue', !modelValue)"
      :disabled="disabled"
      :aria-label="label"
      :value="modelValue"
      :checked="modelValue"
      class="form-check-input"
      type="checkbox"
      role="switch"
    />
  </div>
</template>
<script lang="ts" setup>
defineProps({
  modelValue: Boolean,
  label: {
    type: String,
    required: true,
  },
  disabled: {
    type: Boolean,
    default: false,
  },
});
defineEmits(["update:modelValue"]);
</script>
<style lang="scss">
.form-check-input {
  width: 48px !important;
  height: 24px;
}

.form-check-input:checked {
  background-color: $base-green-300;
  border-color: $base-green-300;
}
.form-check-input:focus {
  border-color: $base-green-300;
  box-shadow: unset;
}
</style>
