<template>
  <div class="app-layout">
    <HeaderDetail></HeaderDetail>

    <!--Container Main start-->
    <div class="height-100 app-container">
      <div class="screen"><slot></slot></div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import HeaderDetail from "@/components/header-detail/index.vue";
</script>

<style scoped lang="scss">
.height-100 {
  height: 100vh;
}
.app-container {
  background-color: $base-gray-50;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 70px;
  overflow: auto;
}
.screen {
  padding: 24px 80px;
}
</style>
