<template>
  <div class="tw-flex tw-items-center tw-justify-between">
    <div class="breakcrum">
      <router-link :to="button?.link" class="btn-back">
        <font-awesome-icon icon="fa-solid fa-arrow-left" />
        <span>{{ button?.title }}</span>
      </router-link>
      <div class="nav-page tw-flex tw-items-center">
        <i class="fas fa-angle-double-right icon-blue"></i>
        <span>{{ button?.namePage }}</span>
        <span v-if="button?.position" class="!tw-text-[18px]">{{ button?.position }}</span>
        <!-- <div class="question tw-flex tw-items-center tw-justify-center">
          <font-awesome-icon icon="fa-solid fa-question" />
        </div> -->
      </div>
    </div>
    <slot></slot>
  </div>
</template>
<script setup lang="ts">
defineProps({
  button: { type: Object },
});
</script>
<style scoped lang="scss">
.breakcrum {
  display: flex;
  align-items: center;
  .btn-back {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    height: 28px;
    background: $base-gray-200;
    border-radius: 6px;
    color: $base-white;
    text-decoration: none;
    span {
      color: $base-white;
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      margin-left: 12px;
    }
  }
}
.nav-page {
  .icon-blue {
    color: $base-blue-50;
    margin-left: 10px;
  }
  span {
    margin-left: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: $base-blue-50;
  }
  .question {
    width: 32px;
    height: 32px;
    background: $base-gray-100;
    border: 1.2px solid $base-gray-500;
    border-radius: 50%;
    margin-left: 10px;
  }
}
</style>
