<template>
  <div v-if="route.query.tab === alias || (!route.query.tab && keyName === 1)">
    <slot></slot>
  </div>
</template>

<script lang="ts" setup>
import { useRoute } from "vue-router";
const route = useRoute();

defineProps({
  alias: String,
  keyName: Number,
});
</script>

<style lang="scss" scoped></style>
