<template>
  <div @click.prevent="handleSort()" class="position-relative cursor-pointer tw-flex tw-items-center tw-justify-center">
    <span v-html="title"></span>
    <span class="tw-flex-shrink-0">
      <Iconimage :user_image_url="icon_sort" :size="'small'"></Iconimage>
    </span>
  </div>
</template>
<script lang="ts" setup>
import { useRouter, useRoute } from "vue-router";
import Iconimage from "@/components/iconImage/index.vue";
import icon_sort from "@/assets/images/icon/sort_black.svg";
const router = useRouter();
const route = useRoute();
const handleSort = () => {
  let query = Object.entries(route?.query)
    .map((e) => {
      return { id: e[0], value: e[1] };
    })
    .filter((item: any) => item.id !== "sort");
  let newQuery = {
    ...Object.fromEntries(
      query.map((item) => {
        return [item.id, item.value];
      }),
    ),
    sort: route?.query.sort === `${props.keyName},DESC` ? `${props.keyName},ASC` : `${props.keyName},DESC`,
    page: 1,
    size: 10,
  };

  router.push({
    path: route.path,
    query: newQuery,
  });
};

const props = defineProps({
  title: {
    type: String,
    default: "",
  },
  keyName: {
    type: String,
    default: "",
  },
});
</script>
<style lang="scss" scoped>
.active-sort {
  color: $base-green-200 !important;
}
.icon-sort {
  position: relative;
}

.up,
.down {
  font-size: 16px;
  display: inline-block;
  padding: 0;
  margin-left: 5px;
}
</style>
