<template>
  <div class="modal fade" :id="idModal" tabindex="-1" :aria-labelledby="idModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog--small modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="tw-text-center tw-text-neutral-2 tw-text-[20px] tw-leading-[20px] tw-font-medium">
          <div class="tw-mt-[30px]">{{ titleDelete }}</div>
        </div>
        <div>
          <div class="tw-mt-[30px] tw-mb-[12px] tw-flex tw-items-center tw-justify-center">
            <Button data-bs-dismiss="modal" type-button="delete">
              <span class="tw-text-neutral-2 tw-font-medium">Hủy bỏ</span>
            </Button>
            <Button data-bs-dismiss="modal" :onClick="() => $emit('handleDelete')" type-button="add">
              <span class="">Xoá</span>
            </Button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import Button from "@/components/button/index.vue";

const emit = defineEmits(["handleDelete"]);
defineProps({
  titleDelete: {
    type: String,
    required: true,
  },
  idModal: {
    type: String,
    required: true,
  },
});
</script>

<style lang="scss" scoped>
.modal-content {
  padding: 24px;
}
.modal-header {
  border: none;
}
.modal-footer {
  border: none;
  margin-bottom: 20px;
}
</style>
