<template>
    <div width="848px">
      <div class="tw-gap-x-[9.5px] tw-py-[12px] tw-flex tw-justify-center tw-items-center">
        <div class="tw-text-center tw-mb-0 tw-text-black tw-text-[16px] tw-leading-[21px]">{{ titleModalConfirm }}</div>
      </div>
      <div class="tw-mt-[18px] tw-flex tw-items-center tw-justify-center">
        <Button @click="$emit('onCancel')" type-button="delete">
          <span class="tw-text-neutral-2 tw-font-medium">Hủy bỏ</span>
        </Button>
        <Button @click="$emit('handleConfirm')" type-button="add" :disabled="isDisableButtonSubmit">
          <span class="">Chấp nhận</span>
        </Button>
      </div>
    </div>
  </template>
  
  <script setup lang="ts">
  import Button from "@/components/button/index.vue";
  
  const emit = defineEmits(["handleConfirm", "onCancel"]);
  
  defineProps({
    titleModalConfirm: {
      type: String,
      required: true,
    },
    isVisibleModalConfirm: {
      type: Boolean,
      required: true,
    },
    isDisableButtonSubmit: {
      type: Boolean,
      default: false,
    }
  });
  </script>
  