<template>
  <div class="app-layout">
    <Header></Header>

    <!--Container Main start-->
    <div class="height-100 app-container">
      <div class="screen"><slot></slot></div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import Header from "@/components/header/index.vue";
</script>

<style scoped lang="scss">
.height-100 {
  height: 100vh;
}
.app-container {
  transition:ease-in-out 0.5s ;
  background-color: $base-gray-50;
  padding-left: 256px;
  padding-top: 70px;
  overflow: auto;
}
.unshow-container {
  padding-left: 100px;
}
.screen {
  padding: 24px;
  height: 100%;
}

</style>
