<template>
  <div :class="['header-container', showSidebar ? 'show' : 'unshow']">
    <div class="header" id="header">
      <div class="header-toggle">
        <i class="bx bx-menu" id="header-toggle"></i>
      </div>
      <div class="header-seach">
        <Search :placeholder="'Nhập nội dung để tìm kiếm'" />
      </div>
      <MenuDropdown />
    </div>
    <!-- <ul class="list-recomend">
      <button type="button" class="pin">
        <Iconimage :user_image_url="pin" />
      </button>
      <router-link to="ky-danh-gia">
        <font-awesome-icon icon="fa-solid fa-chart-line" />
        <span>Thực hiện đánh giá</span>
      </router-link>
      <router-link to="ky-danh-gia">
        <font-awesome-icon icon="fa-solid fa-chart-line" />
        <span>Kỳ đánh giá</span>
      </router-link>
      <router-link to="ky-danh-gia">
        <font-awesome-icon icon="fa-solid fa-chart-line" />
        <span>Khung Năng lực</span>
      </router-link>
      <router-link to="ky-danh-gia">
        <font-awesome-icon icon="fa-solid fa-chart-line" />
        <span>Nhân sự</span>
      </router-link>
    </ul> -->
  </div>
</template>
<script setup lang="ts">
import { computed, ComputedRef, ref } from "vue";
import Search from "@/components/seach-input/index.vue";
import MenuDropdown from "@/components/menu/index.vue";
import Iconimage from "@/components/iconImage/index.vue";
import pin from "@/assets/images/icon/pin.svg";
import { useStore } from "vuex";
import { RootStateTypes } from "@/store/modules/root/root.types";
import { ROOT_STORE } from "@/store/constants";
import { useRoute } from "vue-router";
const route = useRoute();

const store = useStore();
const showSidebar = computed<ComputedRef<Pick<RootStateTypes, "showSidebar">>>(() => store.getters[ROOT_STORE.GETTERS.GET_SHOW_SIDEBAR]);
</script>
<style scoped lang="scss">
.header-container {
  width: 100%;
  transition:ease-in-out 0.5s ;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding-left: 256px;
  display: block;
  .header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: $base-white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    .header-toggle {
      color: $base-blue-300;
      font-size: 24px;
      cursor: pointer;
    }
    .header-seach {
      width: 450px;
      margin-right: 60px;
    }
  }
  .list-recomend {
    background: $base-green-0;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
    a {
      margin: 0px 8px 0px 12px;
      padding: 6px 0px;
      text-decoration: none;
      span {
        margin-left: 8px;
        color: #272727;
        font-size: 16px;
      }
      svg {
        color: #272727;
      }
    }
    .pin {
      background: $base-gray-200;
      margin: 0px;
      padding: 6px 12px;
      border: none;
    }
  }
}
.unshow {
  padding-left: 100px;
}
</style>
