<template>
  <div class="header-container">
    <div class="header" id="header">
      <router-link to="/" class="header-toggle">
        <Iconimage :user_image_url="house" :size="'medium'" />
      </router-link>
      <div class="header-seach">
        <Search :placeholder="'Nhập nội dung để tìm kiếm'" />
        <MenuDropdown />
      </div>
    </div>
    <!-- <ul class="list-recomend">
      <button type="button" class="pin" data-bs-toggle="modal" data-bs-target="#confirmModal">
        <Iconimage :user_image_url="pin" />
      </button>
      <router-link to="ky-danh-gia">
        <font-awesome-icon icon="fa-solid fa-chart-line" />
        <span>Thực hiện đánh giá</span>
      </router-link>
      <router-link to="ky-danh-gia">
        <font-awesome-icon icon="fa-solid fa-chart-line" />
        <span>Kỳ đánh giá</span>
      </router-link>
      <router-link to="ky-danh-gia">
        <font-awesome-icon icon="fa-solid fa-chart-line" />
        <span>Khung Năng lực</span>
      </router-link>
      <router-link to="ky-danh-gia">
        <font-awesome-icon icon="fa-solid fa-chart-line" />
        <span>Nhân sự</span>
      </router-link>
    </ul> -->
  </div>
</template>
<script setup lang="ts">
// import {ref} from 'vue';
import Search from "@/components/seach-input/index.vue";
import MenuDropdown from "@/components/menu/index.vue";
import Iconimage from "@/components/iconImage/index.vue";
import pin from "@/assets/images/icon/pin.svg";
import house from "@/assets/images/icon/house.svg";
import Button from "../button/index.vue";
import { useRoute } from "vue-router";
const route = useRoute();
</script>
<style scoped lang="scss">
.header-container {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding-left: 0px;
  display: block;
  .header {
    width: 100%;
    height: 70px;
    padding-left: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $base-white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    .header-toggle {
      color: $base-blue-300;
      font-size: 24px;
      cursor: pointer;
    }
    .header-seach {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 60%;
      max-width: 700px;
    }
  }
  .list-recomend {
    background: $base-green-0;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
    a {
      margin: 0px 8px 0px 12px;
      padding: 6px 0px;
      color: $base-green-700;
      span {
        margin-left: 8px;
      }
    }
    .pin {
      background: $base-gray-200;
      margin: 0px;
      padding: 6px 12px;
      border: none;
    }
  }
}
</style>
