<template>
  <input type="checkbox" v-model="model" :disabled="disabled" :class="disabled ? '!tw-cursor-auto' : ''"/>
</template>

<script setup lang="ts">
import { computed } from "vue";
const props = defineProps({
  modelValue: { type: [String, Number, Object] },
  value: { type: Boolean },
  update: { type: Function },
  disabled: { type: Boolean, default: false },
});
const emit = defineEmits(["update"]);
const model = computed({
  get() {
    return props.value;
  },
  set() {
    emit("update", props.modelValue);
  },
});
</script>
<style scoped lang="scss">
input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 16px;
}
input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  left: 0;
  border: 2px solid $base-gray-500;
  border-radius: 3px;
  background-color: $base-white;
}
input[type="checkbox"]:checked:before {
  background-color: $base-orange-300;
  border: 2px solid $base-orange-300;
}
input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 7px;
  height: 13px;
  border: solid $base-white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  transform: rotate(36deg);
  position: absolute;
  top: 2px;
  left: 8px;
}
</style>
