<template>
  <img :src="user_image_url" alt="icon" :class="['icon', size]" />
</template>
<script setup lang="ts">
type Size = "normal" | "small" | "medium";
defineProps({
  user_image_url: { type: String, required: true },
  size: {
    type: String as import("vue").PropType<Size>,
    default: "normal",
  },
});
</script>
<style scoped lang="scss">
.small {
  width: 18px;
  height: 18px;
}

.normal {
  width: 24px;
  height: 24px;
}

.medium {
  width: 36px;
  height: 36px;
}
</style>
