<template>
  <div class="table-responsive tw-rounded-md">
    <table class="table table-borderless w-max-content !tw-mb-[0px]">
      <thead>
        <tr class="align-middle text-center" :class="props.boldTitle ? 'boldTitle' : ''">
          <th v-if="props.isEmptyCheckbox" class="checkbox"></th>
          <th v-if="!!props.isCheckbox" class="checkbox"><input type="checkbox" v-model="model" /></th>
          <th class="th-table" v-for="({ field, name, sort, left, width }, index) in props.columns" :key="index"  :class="{'tw-min-w-[300px]':index === 0 && !width ,'tw-min-w-[200px] tw-text-center': index !== 0,}">
            <div :class="{'tw-flex': left}">
              <CellSort v-if="!!props.sortCells && props.sortCells.includes(field)" :title="name" :keyName="field" :active="sort" />
              <div v-if="!props.sortCells?.includes(field)">{{ name }}</div>
            </div>
          </th>
          <th v-if="!!props.isAction" :style="actionStyle" class="action tw-min-w-[150px]">
          </th>
        </tr>
      </thead>
      <tbody>
        <slot></slot>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts" setup>
import { PropType, computed } from "vue";

import CellSort from "@/components/sort-field-table/index.vue";

const props = defineProps({
  value: { type: Boolean },
  checkbox: { type: Function },
  data: { type: Array as PropType<Array<{ field: any }>> },
  columns: { type: Array as PropType<Array<{ field: string; name: string; sort?: boolean; left?: boolean, width?: Number }>> },
  sortCells: { type: Array },
  isAction: { type: Boolean },
  children: { type: Element },
  isCheckbox: { type: Boolean },
  isEmptyCheckbox: { type: Boolean, required: false, default: false },
  actionStyle: { type: String, required: false, default: '' },
  boldTitle: {type: Boolean, required: false, default: false},
});

const emit = defineEmits(["checkbox"]);
const model = computed({
  get() {
    return props.value;
  },
  set(value) {
    emit("checkbox", value);
  },
});
</script>

<style lang="scss" scoped>
.table-responsive {
  .table {
    thead {
      .boldTitle {
        background-color: $base-dark-gray-100;
      }
      tr {
        color: $base-dark-blue-0;
      }
      font-size: 18px;
      background: $base-white;
      color: $base-white;
      th {
        padding: 10px;
        font-weight: 400;
        span {
          font-weight: 400;
        }
      }
      td {
        max-width: 300px;
        white-space: nowrap;
        overflow: auto;
      }
      .action {
        width: 156px;
        .btn-action {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          width: 100%;
          background-color: transparent;
          & > svg {
            cursor: pointer;
          }
        }
      }
      .checkbox {
        width: 50px;
        min-width: unset;
        input[type="checkbox"] {
          position: relative;
          cursor: pointer;
          width: 20px;
          height: 16px;
        }
        input[type="checkbox"]:before {
          content: "";
          display: block;
          position: absolute;
          width: 22px;
          height: 22px;
          top: 0;
          left: 0;
          border: 2px solid $base-dark-blue-0;
          border-radius: 3px;
          background-color: $base-white;
        }
        input[type="checkbox"]:checked:before {
          background-color: $base-orange-300;
          border: 2px solid $base-orange-300;
        }
        input[type="checkbox"]:checked:after {
          content: "";
          display: block;
          width: 7px;
          height: 13px;
          border: solid $base-white;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(36deg);
          -ms-transform: rotate(36deg);
          transform: rotate(36deg);
          position: absolute;
          top: 2px;
          left: 8px;
        }
      }
    }
  }
}
</style>
