<template>
  <img v-if="isImage" :src="user_image_url" alt="user avatar" :class="['rounded-circle me-2', size]" />
  <div v-else :class="['rounded-circle me-2 avatar', size]">{{ user_image_url }}</div>
</template>

<script lang="ts" setup>
import { PropType } from "vue";
type Size = "normal" | "small" | "medium" | "big";

defineProps({
  user_image_url: String,
  isImage: {
    type: Boolean,
  },
  size: {
    type: String as PropType<Size>,
    default: "normal",
  },
});
</script>

<style scoped lang="scss">
img,
div {
  width: 70px;
  height: 70px;
  &.small {
    width: 32px;
    height: 32px;
  }
  &.normal {
    width: 48px;
    height: 48px;
  }
  &.big {
    width: 120px;
    height: 120px;
  }
}
.avatar {
  width: 70px;
  height: 70px;
  background-color: #adadad;
  display: flex;
  align-items: center;
  justify-content: center;
  &.small {
    width: 32px;
    height: 32px;
    font-size: 20px;
  }
  &.normal {
    width: 48px;
    height: 48px;
    font-size: 24px;
  }
  &.big {
    width: 120px;
    height: 120px;
    font-size: 32px;
  }
}
</style>
