<template>
  <form class="search-container position-relative" @submit.prevent="handleSearch">
    <input type="text" :placeholder="placeholder" v-model.trim="searchText" class="form-control tw-w-full position-absolute fs-8" />
    <img src="@/assets/images/icon/search.svg" alt="search icon" class="img-container position-absolute tw-flex tw-justify-center tw-items-center" :onClick="handleSearch" />
  </form>
</template>
<script lang="ts" setup>
import { translate } from "@/languages/i18n";
import { ref } from "vue";
import { useRouter, useRoute } from "vue-router";
import { throttle, omit } from "lodash";

const props = defineProps({
  placeholder: {
    type: String,
    default: translate("search"),
  },
  keyword: {
    type: String,
    default: "keyword",
  },
});

const router = useRouter();
const route = useRoute();
let searchText = ref<any>(route.query.keyword);

const handleSearch = throttle(() => {
  let queryObj = { ...route.query };
  if (searchText.value !== "") {
    queryObj = { ...route?.query, [props.keyword]: searchText.value };
  } else {
    queryObj = omit(queryObj, `${props.keyword}`);
  }
  router.push({ path: route.path, query: queryObj });
}, 1000);
</script>
<style lang="scss" scoped>
.search-container {
  width: 450px;
  height: 46px;
  .form-control:focus {
    border: 1px solid $base-green-300;
    box-shadow: 0 0 0 2px $base-green-0;
  }
  .img-container {
    top: 11px;
    left: 15px;
    cursor: pointer;
  }

  input {
    height: 46px;
    transition: all 200ms ease-in-out;
    top: 50%;
    border: 1px solid $base-gray-100;
    border-radius: 8px;
    transform: translatey(-50%);
    padding: 0 15px 0 50px;
  }
}
</style>
