@font-face {
  font-family: "Baloo2";
  src: url("./assets/fonts/Baloo2-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Baloo2";
  src: url("./assets/fonts/Baloo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Baloo2";
  src: url("./assets/fonts/Baloo2-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Baloo2";
  src: url("./assets/fonts/Baloo2-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Baloo2";
  src: url("./assets/fonts/Baloo2-ExtraBold.ttf");
  font-weight: 900;
}

body {
  position: relative;
  font-family: "Baloo2" !important;
  margin: 0px;
}
*,
::before,
::after {
  box-sizing: border-box;
}
.modal-backdrop.show {
  opacity: 0.4 !important;
}
.table-responsive {
  padding: 10px 10px;
  background-color: $base-white;
  table {
    thead {
      border-bottom: 2px solid $base-gray-700;
    }
    tbody {
      font-size: 18px;
      background: $base-blue-200;
      color: $base-dark-blue-0;
      .row-even {
        background-color: $base-white;
      }
      .row-odd {
        background-color: $base-dark-gray-100;
      }
      tr {
        background: $base-white;
        td {
          padding: 10px;
          text-align: center;
          vertical-align: middle;
          word-break: break-word;
          max-width: 300px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .no-data:hover {
          background-color: $base-white;
          cursor: auto;
        }  
        &:hover {
          background-color: $base-green-0;
          cursor: pointer;
        }
      }

      .rowDisbaled {
        background-color: $base-dark-gray-50 !important;
        color: $base-white !important;

        &:hover {
          pointer-events: none;
        }
      }

      .rowEven {
        background: $base-white;
      }
    }
  }
}

.table-responsive-modal {
  table {
    tbody {
      font-size: 18px;
      tr {
        background: $base-white;

        td {
          padding: 10px;
          text-align: left;
          border-bottom: 0.5px solid $base-gray-100;
          vertical-align: middle;
          word-break: break-word;
          white-space: break-spaces;
        }
        .no-data:hover {
          background-color: $base-white;
          cursor: auto;
        } 
        &:hover {
          background-color: $base-green-0;
          cursor: pointer;
        }
        &:last-child {
          td {
            border: none;
            border-bottom: 0px solid $base-gray-100;
            
            &:first-child {
              border-radius: 0px 0px 0px 8px;
            }
            &:last-child {
              border-radius: 0px 0px 8px 0px;
            }
          }
        }
      }

      .rowDisbaled {
        background-color: $base-dark-gray-50 !important;
        color: $base-white !important;

        &:hover {
          pointer-events: none;
        }
      }

      .rowEven {
        background: $base-white;
      }
    }
  }
}

.table-scores {
  table {
    tbody {
      font-size: 18px;

      tr {
        background: $base-white;

        td {
          padding: 10px;
          text-align: left;
          border-bottom: 0.5px solid $base-gray-100;
          vertical-align: middle;
          word-break: break-word;
          white-space: break-spaces;
        }

        &:hover {
          background-color: $base-green-0;
          cursor: pointer;
        }
        &:last-child {
          td {
            border: none;
            border-bottom: 0px solid $base-gray-100;
            &:first-child {
              border-radius: 0px 0px 0px 8px;
            }
            &:last-child {
              border-radius: 0px 0px 8px 0px;
            }
          }
        }
      }

      .rowDisbaled {
        background-color: $base-dark-gray-50 !important;
        color: $base-white !important;

        &:hover {
          pointer-events: none;
        }
      }

      .rowEven {
        background: $base-white;
      }
    }
  }
}
ul {
  padding-left: 0px;
  list-style-type: none;
}

[type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: unset;
    left: unset;
  }

  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    accent-color: $base-orange-300;
    color: $base-orange-300 !important;
    width: 24px;
    height: 24px;
  }

  [type="checkbox"]:checked,
  [type="checkbox"]:not(:checked) {
    accent-color: $base-orange-300;
    color: $base-orange-300 !important;
    width: 24px;
    height: 24px;
  }

  [type="radio"]:checked + label::before,
  [type="radio"]:not(:checked) + label::before {
    display: none;
  }

  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    padding-left: 0px;
  }

  [type="radio"]:checked + label::after,
  [type="radio"]:not(:checked) + label::after {
    display: none;
  }
.is-invalid {
  border-radius: 0.375rem;
  border: 1px solid $base-red-400 !important;
  margin: 0px;
}
.is-invalid-new {
  border-radius:0px!important;
  border: 0px solid $base-red-400 !important;
}
.invalid-feedback {
  position: absolute;
  margin-top: 0px !important;
}
.required-star {
  color: $red;
  margin-left: 5px;
}

a {
  text-decoration: none !important;
}

// modal antd

.ant-modal-content {
  background-color: $base-gray-50 !important;
  border-radius: 8px !important;
}

.ant-select-selection-placeholder {
  display: flex;
  align-items: center;
  font-size: 16px !important;
}
.ant-select-selection-item {
  display: flex;
  align-items: center;
  font-size: 16px !important;
  border-radius: 8px !important;
  height: 40px !important;
  background: #51a8a1 !important;
  margin-top: 0px !important;
  color: #fff !important;
  padding: 0px 10px;
}
.tree-select {
  .ant-select-selector {
    height: 51px !important;
    border-radius: 8px !important;
    background-color: $base-white-300 !important;
    border: 1px solid #ced4da !important;
    .ant-select-selection-search {
      .ant-select-selection-search-input {
        height: 53px !important;
        border-radius: 8px !important;
      }
    }
  }
}

.tree-select-back-question {
  .ant-select-selector {
    height: 37px !important;
    border-radius: 8px !important;
    background-color: $base-white-300 !important;
    border: 1px solid #ced4da !important;
    .ant-select-selection-search {
      .ant-select-selection-search-input {
        height: 37px !important;
        border-radius: 8px !important;
      }
    }
  }
  .ant-select-selection-item {
    background-color: transparent!important;
    color:#000000!important;
  }
}

.ant-select-selection-overflow-item {
  height: 40px;
  .item-select-tree {
    border-radius: 8px;
    height: 40px;
    background: $base-green-300;
    margin-top: 0px;
    color: $base-white;
    display: flex;
    align-items: center;
    padding: 0px 10px;
  }
  .ant-select-selection-item {
    border-radius: 8px;
    height: 40px;
    background: $base-green-300;
    margin-top: 0px;
    color: $base-white;
    .ant-select-selection-item-remove {
      width: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #fff;
      height: 18px;
      border-radius: 10px;
      margin-left: 5px;
      margin-right: 5px;
      svg {
        fill: $base-white;
      }
    }
  }
}
.tree-select-new {
  .ant-select-selector {
    height: 51px !important;
    border-radius: 8px !important;
    background-color: $base-white-300 !important;
    border: 1px solid #ced4da !important;
    .ant-select-selection-search {
      .ant-select-selection-search-input {
        height: 53px !important;
        border-radius: 8px !important;
      }
    }
  }
  .ant-select-selection-item {
  height: 52px !important;
  background: transparent !important;
  color: #000000 !important;
}
  .ant-tree-node-content-wrapper{
    display: flex!important;
    align-items: center;
  }
 
}
.ant-select-dropdown {
  border-radius: 8px !important;
  background-color: $base-white-300 !important;
  .ant-select-tree {
    background-color: $base-white-300 !important;
  }
  & > div {
    background-color: $base-white-300 !important;
  }
}

.red {
  color: $base-red-300;
}

// css tree select antdv

.ant-select-selection-overflow {
  flex-wrap: nowrap;
  overflow: auto;
}


::-webkit-scrollbar {
  width: 6px !important;
  height: 6px;
  background-color: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: $base-gray-200;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px transparent;
  background-color: transparent;
  border-radius: 10px;
}

.report-page .ant-select .ant-select-selector {
  background-color: #f7f7fd !important;  
  border-radius: .375rem !important;
}

.tree-ant-new {
  .ant-tree-node-content-wrapper.ant-tree-node-selected {
    background-color: transparent!important;
    color:$base-orange-200;
  }
  .ant-tree-node-content-wrapper:hover {
    background-color: transparent!important;
}
 .ant-tree-treenode{
    padding:8px 0px 8px 0px!important;
    font-size: 16px;
  }
}
.tree-select-courses {
  .ant-select-selector {
    padding-right: 0px!important;
  }
  .ant-tree-node-content-wrapper{
    display: flex!important;
    align-items: center;
  }
}
.ant-tree .ant-tree-node-content-wrapper {
  display: flex!important;
  width: 100%;
  .ant-tree-title {
    width: 100%;
  }
}
.ant-tree .ant-tree-treenode {
  width: 100%;
}

.text-green {
  color: $base-green-700;
}

.text-red {
  color: $base-red-300;
}
.ant-select-disabled {
  .ant-select-selector {
    background: #e9ecef!important;
    }
}