<template>
  <div class="tw-w-full">
    <template v-if="type !== 'textarea'">
      <input
        @input="$emit('update:modelValue', ($event.target as HTMLInputElement).value)"
        :type="type"
        :disabled="disabled"
        :aria-label="label"
        class="form-control tw-h-[56px]"
        :class="[
          {
            'tw-text-center': isCenterValue,
          },
        ]"
        :value="modelValue"
        :placeholder="placeholder"
        v-focus="autofocus"
      />
    </template>
    <textarea
      v-else
      @input="$emit('update:modelValue', ($event.target as HTMLInputElement).value)"
      :rows="rows"
      type="text"
      class="form-control"
      :class="[
        {
          'tw-text-center': isCenterValue,
        },
      ]"
      :disabled="disabled"
      :aria-label="label"
      :value="modelValue"
      :placeholder="placeholder"
      v-focus="autofocus"
    ></textarea>
  </div>
</template>
<script lang="ts" setup>
defineProps({
  modelValue: [String, Number],
  type: {
    type: String,
    required: true,
  },
  label: {
    type: String,
    required: true,
  },
  placeholder: {
    type: String,
    required: true,
  },
  rows: {
    type: Number,
    required: false,
  },
  disabled: {
    type: Boolean,
    default: false,
  },
  autofocus: {
    type: Boolean,
    default: false,
  },
  isCenterValue: {
    type: Boolean,
    default: false,
  },
});
defineEmits(["update:modelValue"]);
</script>
<style lang="scss">
.form-control {
  background-color: $base-white-300;
}
</style>
