$red: red;
$base-red-100: #ff7b43;
$base-red-200: #db5515;
$base-red-300: #f93232;
$base-red-400: #dd2f08;
$base-green-0: #cbe6e4;
$base-green-50: #78d64b;
$base-green-100: #8ac5c0;
$base-green-200: #318982;
$base-green-300: #51a8a1;
$base-green-400: #51a8a1;
$base-green-500: #128f0f;
$base-green-600: #14930f;
$base-green-700: #136a63;
$base-green-800: #00b140;
$base-yellow-50: #f1eb9c;
$base-yellow-100: #fbde40;
$base-yellow-200: #ffb82e;
$base-orange-50: #ffad00;
$base-orange-100: #ef8653;
$base-orange-200: #ef8653;
$base-orange-300: #e56126;
$base-gray-0: #868686;
$base-gray-10: #898989;
$base-gray-50: #e9e9e9;
$base-gray-100: #cbcbcb;
$base-gray-200: #adadad;
$base-gray-300: #dddddd;
$base-gray-400: #333333;
$base-gray-500: #272727;
$base-gray-600: #565656;
$base-gray-700: #cccccc;
$base-gray-800: #585858;
$base-dark-blue-0: #000000;
$base-dark-blue-50: #343a40;
$base-dark-blue-100: #33363f;
$base-dark-gray-50: #626262;
$base-dark-gray-100: #eeeeef;
$base-red-50: #dc3545;
$base-white: #fff;
$base-white-50: #fafafa;
$base-white-100: #f5f5f5;
$base-white-200: #e6e6e6;
$base-white-300: #f7f7fd;
$base-white-400: #f7f6fb;
$base-blue-0: #3668ab;
$base-blue-50: #194a8b;
$base-blue-100: #277af7;
$base-blue-200: #4787f3;
$base-blue-300: #4723d9;

$shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);

$transition: all 200ms ease-in-out;

$gradient-orange: linear-gradient(to right, #E56125 0%, #F79420 100%);
$gradient-blue: linear-gradient(to right, #1F6AB1 0%, #1F6AB1 100%);
