<template>
  <select
    :disabled="disabled"
    :class="['form-select', classValue]"
    @change="$emit('update:modelValue', ($event.target as HTMLInputElement).value)"
    :value="modelValue"
    :aria-label="label"
    v-focus="autofocus"
  >
    <option disabled class="disabled" value="">{{ titleDefault }}</option>
    <option v-for="(option, index) in options" :key="index" :value="option.value">{{ option.label }}</option>
  </select>
</template>
<script lang="ts" setup>
import { PropType } from "vue";

type optionItem = {
  value: string | number;
  label: string;
};

defineProps({
  modelValue: [String, Number],
  label: {
    type: String,
    required: true,
  },
  classValue: {
    type: String,
    default: "tw-h-[56px]",
  },
  titleDefault: {
    type: String,
  },
  options: {
    type: Array as PropType<Array<optionItem>>,
    required: true,
  },
  disabled: {
    type: Boolean,
    default: false,
  },
  autofocus: {
    type: Boolean,
    default: false,
  },
});
defineEmits(["update:modelValue"]);
</script>

<style lang="scss">
.form-select {
  background-color: $base-white-300;
}
.disabled {
  color: #ccc;
  opacity: 0.6;
}
</style>
