<template>
  <ul class="tab-header tw-flex tw-justify-center tw-items-center m-0 mb-4 p-0">
    <li
      v-for="(tab, index) in tabs"
      :key="tab.title"
      @click="changeTab(tab.alias)"
      :class="[
        route.query.tab === tab.alias || (!route.query.tab && defaultAlias === tab.alias) || (!route.query.tab && index === 0) ? 'active' : '',
        'fw-bold position-relative text-lg-start text-center ',
      ]"
    >
      <div class="title-tabs text-header-truncate" :title="tab.title">{{ tab.title }}</div>
      <Progress :percent="percent(tab)" :type="'small'"></Progress>
    </li>
  </ul>
</template>

<script lang="ts" setup>
import { PropType,computed } from "vue";
import { useRoute, useRouter } from "vue-router";
import { Tab } from "../index.vue";
import Progress from "@/components/progress/index.vue";
import { useStore } from "vuex";

const store = useStore();
const route = useRoute();
const router = useRouter();

defineProps({
  tabs: {
    type: Array as PropType<Array<Tab>>,
  },
  defaultAlias: String,
  keyName: Number,
});

const changeTab = (alias: string): void => {
  router.replace({ path: route.path, query: { ...route.query, tab: alias, question: 1 } });
};
const arrayPercent = computed(() => store.getters["assessment/arrayPercent"]);

const percent = (item) => {
  let a= arrayPercent?.value?.filter(i=>i.capacityGroupId===item?.capacityGroupId).length || 0;
  return `width: ${Number(a)/Number(item?.capacities?.sum)*100}%`;
};
</script>

<style lang="scss" scoped>
.tab-header {
  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 36px;
    gap: 4px;
    height: 51px;
    background: $base-white;
    &:first-child {
      border-radius: 8px 0px 0px 8px;
    }
    &:last-child {
      border-radius: 0px 8px 8px 0px;
    }
  }
  .active {
    background: #faba9b;
  }
}
.text-header-truncate {
  max-width: 300px;
  text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: break-spaces;
    word-break: break-word;
}
</style>
