<template>
  <div class="header-action tw-flex tw-items-center tw-justify-between tw-w-full tw-gap-x-1">
    <div class="title tw-flex-shrink-0 tw-flex tw-items-center tw-justify-center">
      <div @click="goBack" class="tw-flex tw-items-center tw-justify-center tw-mr-[12px] tw-bg-neutral-4 tw-rounded-[6px] tw-h-[32px] tw-px-[10px] tw-cursor-pointer" v-if="isGoBack">
        <font-awesome-icon class="tw-text-white" icon="fa-solid fa-arrow-left" />
        <div class="tw-ml-[8px] tw-text-white tw-text-[16px] tw-font-medium">Quay lại</div>
      </div>
      <div class="name-title">{{ title }}</div>
      <!-- <div class="question tw-flex tw-items-center tw-justify-center">
        <font-awesome-icon icon="fa-solid fa-question" />
      </div> -->
    </div>
    <div class="list-action tw-flex tw-items-center">
      <slot></slot>
    </div>
  </div>
</template>
<script setup lang="ts">
import { useRouter } from "vue-router";
defineProps({
  title: { type: String, required: true },
  isGoBack: { type: Boolean, default: false },
});

const router = useRouter();

const goBack = (): void => {
  router.go(-1);
};
</script>
<style lang="scss">
.header-action {
  margin: 16px 0px;

  .title {
    .name-title {
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      color: $base-orange-300;
      text-transform: uppercase;
    }
    .question {
      width: 32px;
      height: 32px;
      background: $base-gray-100;
      border: 1.2px solid $base-gray-500;
      border-radius: 50%;
      margin-left: 10px;
    }
  }
  .list-action {
    overflow-x: auto;
  }
}
</style>
